body{
    background-color: blueviolet;

}
h1{
    color: black;
    background-color: plum;
}
#show{
    float: right;
}
p{
    padding-top: 10px;
    font-size: 25px;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name: page;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}
@keyframes page{
from{box-shadow: 1px 1px 38px black;}
to{box-shadow: 1px 1px 38px gray;}
}